.earthly > .brown {

    color: #57473A;

}

.earthly > .green {

    color: #6E8658;

}

.earthly > .blue {

    color: #73A1B2;

}

.earthly > .grey {

    color: #D0D5CE;

}

.earthly > .white {

    color: #EFE9E1;

}