.footer {
    display: inline-grid;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    padding: 0;
    background-color: var(--bs-alpha) !important;
    width: 100%;
    grid-template-columns: 1fr 1fr;

    span {
        padding: .5rem;
        margin: 0;
        font-size: smaller;
        word-wrap: break-word;
        white-space: pre-wrap;
        color: var(--bs-bravo) !important;

    }

    span.align-right {

        text-align: right;

    }
}


@media (max-width: 768px) {
    .footer {
        padding: 0.5rem 1rem;

        span {

            font-size: x-small;

        }
    }

    .footer-logo {
        height: 30px;
        margin-right: 0.5rem;
    }
}

@media (max-width: 576px) {
    .footer {
        display: inline-flex;
        flex-direction: row;
        word-break: break-word;
        padding: 0.5rem;
        word-spacing: 2px;
        text-align: center;

        span {

            font-size: xx-small;

        }
    }

    .footer-logo {
        height: 30px;
        margin-right: 0;
        margin-bottom: 0.5rem;
    }
}