.navbar {

    background-color: var(--bs-alpha) !important;

}

.navbar-brand {

    color: var(--bs-bravo) !important;

}

.navbar-toggler {

    background-color: var(--bs-bravo) !important;
    color: var(--bs-bravo) !important;

}

.navbar-toggler-icon {

    color: var(--bs-bravo) !important;

}

.navbar-nav .nav-item .nav-link {

    color: var(--bs-bravo) !important;

}