@import url('https://fontlibrary.org/face/dejavu-sans-mono');

main {
    font-family: 'Dejavu Sans Mono', monospace !important;
    font-variant-numeric: tabular-nums lining-nums !important;
    font-kerning: none !important;
}

body {
    font-family: 'Dejavu Sans Mono', monospace !important;
    font-variant-numeric: tabular-nums lining-nums !important;
    font-kerning: none !important;
}