@import 'https://fontlibrary.org/face/dejavu-sans-mono';
@import '../bootstrap-5.0.2/scss/bootstrap.scss';

/* Earthly Theme Color Scheme */
$earthly-brown: #57473A;
$earthly-green: #6E8658;
$earthly-blue: #73A1B2;
$earthly-grey: #D0D5CE;
$earthly-white: #EFE9E1;
$earthly-red: #A23C2C;

$themes: (
    default: (
        primary: $primary,
        secondary: $secondary,
        alpha: $primary,
        bravo: $secondary,
    ),
    earthly: (
        primary: $earthly-red,
        secondary: $earthly-white,
        alpha: $earthly-red,
        bravo: $earthly-white,
        charlie: $earthly-brown,
        delta: $earthly-green,
        echo: $earthly-blue,
        foxtrot: $earthly-grey
    ),
    modern: (
        primary: $yellow,
        secondary: $purple,
        alpha: $yellow,
        bravo: $purple,
        charlie: $black,
        delta: $green,
        echo: $blue,
        foxtrot: $white
    ),
    dracula: (
        primary: $black,
        secondary: $white,
        alpha: $black,
        bravo: $white,
        charlie: $black,
        delta: $black,
        echo: $black,
        foxtrot: $white
    )
);

@each $theme, $colors in $themes {

    .theme-#{$theme} {

        @each $color, $value in $colors {

            --bs-#{$color}: #{$value};

        }

    }

}

main {
    font-family: 'Dejavu Sans Mono', monospace !important;
    font-variant-numeric: tabular-nums lining-nums !important;
    font-kerning: none !important;
    background-color: var(--bs-delta) !important;
}

body {
    font-family: 'Dejavu Sans Mono', monospace !important;
    font-variant-numeric: tabular-nums lining-nums !important;
    font-kerning: none !important;
    background-color: var(--bs-delta) !important;
}

/** Must be imported after adjustments to Bootstrap variables */
@import '../bootstrap-5.0.2/scss/bootstrap.scss';
@import './components/navigation.scss';
@import './components/section.scss';
@import './components/content/content.scss';
@import './components/content/about.scss';
@import './components/content/contact.scss';
@import './components/footer.scss';